@model Rachunki.Models.UserLoginInfoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <div>Login</div>
        <div>
            <input id="userName" type="text" />
            <input id="userPassword" type="password" />
        </div>
        <div>
            <button type="submit" > Sign in </button>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    
</body>
</html>
